In [1]:
! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
! conda install pymysql

In [1]:
import pymysql

In [6]:
con = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')

In [7]:
cur = con.cursor()

In [8]:
sql = "select * from sqldb.usertb1"
cur.execute(sql)

10

In [9]:
rows = cur.fetchall()
print(rows)

(('BBK', '바비킴', 1973, '서울', '010', '0000000', 176, datetime.date(2013, 5, 5)), ('EJW', '은지원', 1972, '경북', '011', '8888888', 174, datetime.date(2014, 3, 3)), ('JKW', '조관우', 1965, '경기', '018', '9999999', 172, datetime.date(2010, 10, 10)), ('JYP', '조용필', 1950, '경기', '011', '4444444', 166, datetime.date(2009, 4, 4)), ('KBs', '김범수', 1979, '경남', '011', '2222222', 173, datetime.date(2012, 4, 4)), ('KKH', '김경호', 1971, '전남', '019', '3333333', 177, datetime.date(2007, 7, 7)), ('LJB', '임재범', 1963, '서울', '016', '6666666', 182, datetime.date(2009, 9, 9)), ('LSG', '이승기', 1987, '서울', '011', '1111111', 182, datetime.date(2008, 8, 8)), ('SSK', '성시경', 1979, '서울', None, None, 186, datetime.date(2013, 12, 12)), ('YJS', '윤종신', 1969, '경남', None, None, 170, datetime.date(2005, 5, 5)))

In [10]:
type(rows)

tuple

In [11]:
con.close()

In [38]:
import pymysql
con, cur = None,None
data1,data2,data3,data4 = "","","",""
row=None

con = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')
cur=con.cursor()

cur.execute("select * from usertb1")
print("사용자ID     사용자이름          이메일           출생연도")
print("---------------------------------------------------------------")
while (True):
    row = cur.fetchone()
    if row==None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%s %15s %15s %15s"%(data1,data2,data3,data4))

con.close()

사용자ID     사용자이름          이메일           출생연도
---------------------------------------------------------------
BBK             바비킴            1973              서울
EJW             은지원            1972              경북
JKW             조관우            1965              경기
JYP             조용필            1950              경기
KBs             김범수            1979              경남
KKH             김경호            1971              전남
LJB             임재범            1963              서울
LSG             이승기            1987              서울
SSK             성시경            1979              서울
YJS             윤종신            1969              경남

In [33]:
! conda install pandas

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\BIT\anaconda3\envs\PythonLecture

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bottleneck-1.3.4           |   py39h080aedc_0         109 KB
    numexpr-2.8.1              |   py39hb80d3ca_0         117 KB
    numpy-1.21.5               |   py39ha4e8547_0           9 KB
    numpy-base-1.21.5          |   py39hc2deb75_0         4.4 MB
    pandas-1.4.1               |   py39hd77b12b_1         8.9 MB
    ------------------------------------------------------------
                                           Total:        13.5 MB

The following NEW packages will be INSTALLED:

  blas               pkgs/main/win-64::blas-1.0-mkl
  bottleneck         pkgs/main/win-64::bottleneck-1.3.4-py39h080aedc_0
  intel-openmp       pkgs/main/win-64::intel-openmp-2021.4.0-haa95532_3556
  mkl                pkgs/main/win-64::mkl-2021.4.0-haa95532_640
  mkl-service        pkgs/main/win-64::mkl-service-2.4.0-py39h2bbff1b_0
  mkl_fft            pkgs/main/win-64::mkl_fft-1.3.1-py39h277e83a_0
  mkl_random         pkgs/main/win-64::mkl_random-1.2.2-py39hf11a4ad_0
  numexpr            pkgs/main/win-64::numexpr-2.8.1-py39hb80d3ca_0
  numpy              pkgs/main/win-64::numpy-1.21.5-py39ha4e8547_0
  numpy-base         pkgs/main/win-64::numpy-base-1.21.5-py39hc2deb75_0
  pandas             pkgs/main/win-64::pandas-1.4.1-py39hd77b12b_1



Downloading and Extracting Packages

pandas-1.4.1         | 8.9 MB    |            |   0%
pandas-1.4.1         | 8.9 MB    | ####3      |  44%
pandas-1.4.1         | 8.9 MB    | ########## | 100%
pandas-1.4.1         | 8.9 MB    | ########## | 100%

numexpr-2.8.1        | 117 KB    |            |   0%
numexpr-2.8.1        | 117 KB    | ########## | 100%

numpy-base-1.21.5    | 4.4 MB    |            |   0%
numpy-base-1.21.5    | 4.4 MB    | ########## | 100%
numpy-base-1.21.5    | 4.4 MB    | ########## | 100%

bottleneck-1.3.4     | 109 KB    |            |   0%
bottleneck-1.3.4     | 109 KB    | ########## | 100%
bottleneck-1.3.4     | 109 KB    | ########## | 100%

numpy-1.21.5         | 9 KB      |            |   0%
numpy-1.21.5         | 9 KB      | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
^C

In [81]:
import pandas as pd

In [99]:
import pymysql
con = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')
cur=con.cursor()
#data1 = edt1.get();     data2 = edt2.get();    data3 = edt3.get();    data4 = edt4.get();

#sql = "insert into usertbl values('" + data1 + "', '" + data2 +"','"+data3+"',"+data4+")"
sql = "insert into usertbl values('wea' , 'wooja', 'se', 1992)"
cur.execute(sql)

1

In [82]:
import pymysql
con, cur = None,None
data1,data2,data3,data4 = "","","",""
row=None

con = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')
cur=con.cursor()

cur.execute("select * from usertb1")
row = cur.fetchall()
df = pd.DataFrame(row)
df
con.close()

In [147]:
import pymysql
from tkinter import *
from tkinter import messagebox



def insertData():
    con,cur=None,None
    data1,data2,data3,data4 = "","","",""
    sql=""
    
    con = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')
    cur=con.cursor()
    data1 = edt1.get();     data2 = edt2.get();    data3 = edt3.get();    data4 = edt4.get();
    try :
        sql = "insert into usertbl values('" + data1 + "', '" + data2 +"','"+data3+"',"+data4+")"
        #sql = "insert into usertbl values("woo" , "wooja", "se", 1992)"
        cur.execute(sql)
    except Exception as e:
        messagebox.showerror('오류', '데이터 입력 오류가 발생함', e)
    else:
        messagebox.showinfo('성공','데이터 입력 성공')
    con.commit()
    con.close()


def selectData():
    strData1, strData2, strData3, strData4 = [],[],[],[]
    con = pymysql.connect(host='127.0.0.1',user='root',password='1234',db='sqldb',charset='utf8')
    cur=con.cursor()
    cur.execute("select * from usertbl")
    
    strData1.append("사용자ID"); strData2.append("사용자이름"); strData3.append("주소"); strData4.append("출생년도")
    strData1.append("----------");strData2.append("----------");strData3.append("----------");strData4.append("----------")
    while (True):
        row = cur.fetchone()
        if row==None:
            break
        strData1.append(row[0])
        strData2.append(row[1])
        strData3.append(row[2])
        strData4.append(row[3])
        
    listData1.delete(0,listData1.size()-1)
    listData2.delete(0,listData2.size()-1)
    listData3.delete(0,listData3.size()-1)
    listData4.delete(0,listData4.size()-1)
    for item1,item2,item3,item4 in zip(strData1, strData2, strData3, strData4):
        listData1.insert(END, item1)
        listData2.insert(END, item2)
        listData3.insert(END, item3)
        listData4.insert(END, item4)
    con.close()

window = Tk()
window.geometry("600x300")
window.title("GUI 데이터 입력") 

edtFrame = Frame(window)

edtFrame.pack()

listFrame = Frame(window)

listFrame.pack(side = BOTTOM,fill=BOTH, expand=1)

edt1=Entry(edtFrame,width=10)
edt2=Entry(edtFrame,width=10)
edt3=Entry(edtFrame,width=10)
edt4=Entry(edtFrame,width=10)
edt1.pack(side=LEFT,padx=10,pady=10)
edt2.pack(side=LEFT,padx=10,pady=10)
edt3.pack(side=LEFT,padx=10,pady=10)
edt4.pack(side=LEFT,padx=10,pady=10)

btnInsert = Button(edtFrame, text="입력",command = insertData)
btnInsert.pack(side=LEFT,padx=10,pady=10)
btnSelect = Button(edtFrame, text="조회",command=selectData)
btnSelect.pack(side=LEFT,padx=10,pady=10)

listData1=Listbox(listFrame,bg ='yellow');
listData1.pack(side=LEFT,fill=BOTH,expand=1)
listData2=Listbox(listFrame,bg ='yellow');
listData2.pack(side=LEFT,fill=BOTH,expand=1)
listData3=Listbox(listFrame,bg ='yellow');
listData3.pack(side=LEFT,fill=BOTH,expand=1)
listData4=Listbox(listFrame,bg ='yellow');
listData4.pack(side=LEFT,fill=BOTH,expand=1)

window.mainloop()